@import 'config';
@import 'menu';

*{
  box-sizing: border-box;
}
body{
  @include background;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings
h1,h2,h3{
  margin: 0;
  font-weight: 400;
  &.lg-heading{
    font-size: 5rem;
  }
  &.sm-heading{
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($secondary-color,2),0.3);
  }
}

a{
  color: set-text-color($primary-color);
  text-decoration: none;
}

header{
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary{
  color: $secondary-color;
}

main{
  padding: 4rem 2rem;
  height: 100%;
  .icons{
    margin-top: 1rem;
    
    a{
      /*.fa-facebook{
        color: #3b5998;
      }
      .fa-twitter{
        color: #00acee;
      }
      .fa-instagram{
        color: #dd2a7b ;
      }
      .fa-github{
        color: $secondary-color;
      }
      .fa-linkedin{
        color: #0e76a8;
      }
      .fa-youtube{
        color: #c4302b;
      }
      */
      
      .fab{
        color: set-text-color($primary-color);
        &:hover{
          color: $secondary-color;
          //text-shadow:0px 0px 40px #fff;
          transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
          transform: rotate(1turn);
        }
      }
      
      padding: 0.4rem;
      color: $secondary-color;
    }
  }

  &#home{
    overflow:hidden;
    h1{
      margin-top: 20vh;
    }
  }
}



.about-bio{
  display: grid;
  grid-gap: 30px;
  margin-bottom: 30px;
  grid-template-areas:
  "image bio bio";
  grid-template-columns: repeat(3,1fr);
  .bio-image{
    grid-area: image;
    margin: auto;
    border-radius: 50%;
    width: 250px;
  }
  .bio{
    grid-area: bio;
    font-size: 1.5rem;
  }
    
}


.link-to-blog{
  text-align: center;
  margin-bottom: 5rem;
}

@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;
  
  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;
    
    #{$vertical}: 0; 
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');
    
    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }
  
  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');
    
    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }
  
  &:hover {
    color: $hover;
    
    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }
    
    &::before { transition-delay: 0s, 0s, $duration; }
    
    &::after { transition-delay: 0s, $duration, 0s; }
  }
}

.btn-blog {
  @include btn-border-drawing(set-text-color($primary-color), $secondary-color, 4px, bottom, right);
}

//=== Button styling, semi-ignore
.btn-blog {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  
  &:focus { outline: 2px dotted #55d7dc; }
}





/*
.jobs{
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
  "job1 job2 job3";
  grid-template-columns: repeat(3,1fr);
  .job-1{
    grid-area: job1;
  }
  .job-2{
    grid-area: job2;
  }
  .job-3{
    grid-area: job3;
  }
  .job{
    background: rgba(lighten($secondary-color,2),0.3);
    border-bottom: $secondary-color 5px solid;
    overflow: hidden;
    border-radius: 5%;
  }
  .card-image{
    border-bottom: none;
  }
}
*/

.jobs, .projects{
  margin: 0 auto;
  justify-items: center;
  justify-content: center;
  max-width: 1200;
  display: grid;
  grid-gap: 0.4rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 3rem;
}

.job, .project {
  background-color: rgba(darken($secondary-color,20),0.5);
  width: 18rem;
  height: 15.5rem;
  margin-bottom: 5rem;
  text-align: center;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}
.card-image-container{
  overflow: hidden;
}
.card-image{
  background-size: cover;
  height: 10rem;
  transition: all 1s ease-out;
}

.card-image:hover{
  transform: scale(1.1);  
  opacity: 0.4; 
}

.card-image-1{
  background-image: url('../img/cards/samsung_logo2.png');
}
.card-image-2{
  background-image: url('../img/cards/telangana_logo.png');
}

.card-image-3{
  background-image: url('../img/cards/fingertips_logo.png');
}

.card-image-4{
  background-image: url('../img/cards/unacademy_logo.png');
}

.project-card-image-1{
  background-image: url('../img/projects/project-1.png');
}
.project-card-image-2{
  background-image: url('../img/projects/project-2.png');
}
.project-card-image-3{
  background-image: url('../img/projects/project-3.png');
}
.project-card-image-4{
  background-image: url('../img/projects/project-4.png');
}
.project-card-image-5{
  background-image: url('../img/projects/project-5.png');
}
.project-card-image-6{
  background-image: url('../img/projects/project-6.png');
}
.project-card-image-7{
  background-image: url('../img/projects/project-7.png');
}
.project-card-image-8{
  background-image: url('../img/projects/project-8.png');
}

.collapsible {
  background-color: $secondary-color;
  color: #fff;
  cursor: pointer;
  padding: 0.6rem 1rem;
  width: 100%;
  border: none;
  text-align: left;
  font-weight: bold;
  outline: none;
  font-size: 15px;
  transition: all 0.2s ease-out;
}


.collapsible:hover {
  @include easeOut;
  background: darken($secondary-color,20);
  color: #fff;
  
}

.collapsible:after {
  @include easeOut;
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px; 
}


.active:after {
  @include easeOut;
  content: "\2212";
}


.collapsible-content {
  position: relative;
  z-index: 0;
  padding: 0 18px;
  color: set-text-color($primary-color);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background:rgba(darken($secondary-color,38),0.95);
  margin-bottom: 0;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;  

}

.card-description{
  margin: 0 auto;
}

.card-firm{
  display: inline-block;
}
.card-designation{
  display: inline-block;
  background: rgba(darken($primary-color,20),0.5);
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
}

.long-card-designation{
  font-size: 1em;
}

.card-job-duration{
  font-weight: bold;
}


.btn{
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 0;
  width: 100%;
  @include easeOut;
  &:hover{
    background: darken($secondary-color,35);
    ;
  }
}

.btn-dark{
  background: darken($primary-color,50);
  color: #fff;
}


.contact-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3 rem;
  /*justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */ 
}
.contact-icon{
  margin: 0 auto;
  width: 5rem;
  font-size: 4rem;
  color: set-text-color($primary-color);
  @include easeOut;
  
}
.contact-detail{
  text-align: center;
  margin-bottom: 1 rem;
  padding: 0.5rem 1rem; 
  &:hover{
    .contact-icon{
      @include easeOut;
      transform: scale(1.2);
      color:$secondary-color;
    }
  }  
}

.contact-description{
  font-size: 1.2rem;
}







@import 'mobile';
