@import 'config';
@import 'menu';

*{
  box-sizing: border-box;
}
body{
  @include background;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings
h1,h2,h3{
  margin: 0;
  font-weight: 400;
  &.lg-heading{
    font-size: 5rem;
  }
  &.sm-heading{
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($secondary-color,2),0.3);
  }
}

a{
  color: set-text-color($primary-color);
  text-decoration: none;
}

header{
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary{
  color: $secondary-color;
}

main{
  padding: 4rem;
  height: 100%;
  .icons{
    margin-top: 1rem;
    
    a{
      .fa-facebook{
        color: #3b5998;
      }
      .fa-twitter{
        color: #00acee;
      }
      .fa-instagram{
        color: #dd2a7b ;
      }
      .fa-github{
        color: $secondary-color;
      }
      .fa-linkedin{
        color: #0e76a8;
      }
      .fa-youtube{
        color: #c4302b;
      }

      .fab{
        &:hover{
          color: set-text-color($primary-color);
          text-shadow:0px 0px 40px $secondary-color;
          transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
          transform: rotate(1turn);
        }
      }
      
      padding: 0.4rem;
      color: $secondary-color;
    }
  }

  &#home{
    overflow:hidden;
    h1{
      margin-top: 20vh;
    }
  }
}



.about-bio{
  display: grid;
  grid-gap: 30px;
  margin-bottom: 30px;
  grid-template-areas:
  "image bio bio";
  grid-template-columns: repeat(3,1fr);
  .bio-image{
    grid-area: image;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
    width: 250px;
  }
  .bio{
    grid-area: bio;
    font-size: 1.5rem;
  }
    
}
/*
.jobs{
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
  "job1 job2 job3";
  grid-template-columns: repeat(3,1fr);
  .job-1{
    grid-area: job1;
  }
  .job-2{
    grid-area: job2;
  }
  .job-3{
    grid-area: job3;
  }
  .job{
    background: rgba(lighten($secondary-color,2),0.3);
    border-bottom: $secondary-color 5px solid;
    overflow: hidden;
    border-radius: 5%;
  }
  .card-image{
    border-bottom: none;
  }
}
*/

.jobs, .projects{
  margin: 0 auto;
  justify-items: center;
  justify-content: center;
  max-width: 1200;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.job, .project {
  background-color: rgba(darken($secondary-color,20),0.5);
  width: 18rem;
  height: 15.5rem;
  margin-bottom: 60px;
  text-align: center;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}
.card-image-container{
  overflow: hidden;
}
.card-image{
  background-size: cover;
  height: 10rem;
  transition: all 1s ease-out;
}

.card-image:hover{
  transform: scale(1.1);  
  opacity: 0.4; 
}

.card-image-1{
  background-image: url('../img/cards/samsung_logo2.png');
}
.card-image-2{
  background-image: url('../img/cards/telangana_logo.png');
}

.card-image-3{
  background-image: url('../img/cards/fingertips_logo.png');
}

.card-image-4{
  background-image: url('../img/cards/unacademy_logo.png');
}

.project-card-image-1{
  background-image: url('../img/projects/project-1.png');
}
.project-card-image-2{
  background-image: url('../img/projects/project-2.png');
}
.project-card-image-3{
  background-image: url('../img/projects/project-3.png');
}
.project-card-image-4{
  background-image: url('../img/projects/project-4.png');
}
.project-card-image-5{
  background-image: url('../img/projects/project-5.png');
}
.project-card-image-6{
  background-image: url('../img/projects/project-6.png');
}
.project-card-image-7{
  background-image: url('../img/projects/project-7.png');
}
.project-card-image-8{
  background-image: url('../img/projects/project-8.png');
}

.collapsible {
  background-color: $secondary-color;
  color: #fff;
  cursor: pointer;
  padding: 0.6rem 1rem;
  width: 100%;
  border: none;
  text-align: left;
  font-weight: bold;
  outline: none;
  font-size: 15px;
}


.collapsible:hover {
  background: darken($secondary-color,20);
  color: #fff;
  
}

.collapsible:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px; 
}


.active:after {
  content: "\2212";
}


.collapsible-content {
  position: relative;
  z-index: 0;
  padding: 0 18px;
  color: set-text-color($primary-color);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background:rgba(darken($secondary-color,38),0.95);
  margin-bottom: 0;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;  

}

.card-description{
  margin: 0 auto;
}

.card-firm{
  display: inline-block;
}
.card-designation{
  display: inline-block;
  background: rgba(darken($primary-color,20),0.5);
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
}

.long-card-designation{
  font-size: 1em;
}

.card-job-duration{
  font-weight: bold;
}


.btn{
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 0;
  width: 100%;
  &:hover{
    background: darken($secondary-color,35);
    ;
  }
}

.btn-dark{
  background: darken($primary-color,50);
  color: #fff;
}


@import 'mobile';
